/* stylelint-disable */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* stylelint-enable */
@font-face {
  font-family: 'Shell-Book';
  src: url(../fonts/Shell-Book.woff) format("woff"), url(../fonts/Shell-Book.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 100%; }

strong {
  font-weight: 700; }

.u-spaced-bottom--2 {
  margin-bottom: 2rem; }

.u-underlined {
  text-decoration: underline; }

.u-italic {
  font-style: italic; }

.pl-sidebar {
  background: #F7F7F7;
  border-right: 1px solid #D9D9D9;
  height: 100%; }
  .pl-sidebar__logo-holder {
    display: block;
    padding: 1rem;
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9D9D9; }
  .pl-sidebar__logo {
    max-height: 50px; }

.pl-main {
  padding: 0.5rem 1rem; }

.pl-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  min-width: 610px; }
  .pl-layout__sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15rem;
            flex: 0 0 15rem;
    position: relative; }
  .pl-layout__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
    overflow: auto; }

.pl-nav__list {
  margin: 0;
  padding: 0; }

.pl-nav__item {
  list-style: none; }

.pl-nav__link {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #D9D9D9;
  background-color: #F7F7F7;
  text-decoration: none;
  color: #404040;
  font-size: 16px;
  font-size: 16px;
  cursor: pointer; }
  .pl-nav__link:hover,
  .is-open > .pl-nav__link {
    background-color: #D9D9D9;
    color: #404040; }
  .pl-nav__sublist .pl-nav__link {
    padding-left: 1.5rem;
    background-color: #FFFFFF;
    color: #404040; }
    .pl-nav__sublist .pl-nav__link:hover {
      background-color: #D9D9D9;
      color: #404040; }
    .pl-nav__sublist .pl-nav__link.is-current {
      background-color: #D9D9D9;
      color: #FFFFFF; }
  .pl-nav__sublist > li.is-open > .pl-nav__link {
    color: #404040;
    background: #cccccc; }
  .pl-nav__sublist--second-level .pl-nav__link {
    padding-left: 3rem;
    background: #f7f7f7; }

.pl-nav__sublist {
  display: none;
  padding: 0; }
  .is-open > .pl-nav__sublist {
    display: block; }

.pl-page-nav {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  -webkit-transform: translate3d(100%, 0, 0) translateX(-2.5rem);
          transform: translate3d(100%, 0, 0) translateX(-2.5rem);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(20rem + 2.5rem);
  max-width: calc(100vw);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  pointer-events: none; }
  .pl-page-nav.is-open {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .pl-page-nav.is-open-json {
    width: 40rem;
    -webkit-transform: translate3d(1%, 0, 0) translateX(0);
            transform: translate3d(1%, 0, 0) translateX(0); }
  .pl-page-nav__json-trigger {
    background: rgba(17, 17, 17, 0.6);
    padding: 0.5rem 0.5rem 0.3rem;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
    color: #FFFFFF;
    position: relative;
    z-index: 4;
    margin-bottom: 1rem;
    pointer-events: all; }
    .pl-page-nav__json-trigger:focus {
      outline: none; }
  .pl-page-nav__trigger {
    background: rgba(17, 17, 17, 0.6);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
    padding: 0.5rem 0.5rem 0.3rem;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
    margin-bottom: 1rem;
    pointer-events: all; }
    .pl-page-nav__trigger:focus {
      outline: none; }
  .pl-page-nav__content {
    padding: 1rem 0;
    background: #F7F7F7;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    position: relative;
    max-height: 100vh;
    overflow: auto;
    pointer-events: all; }
    .is-open > .pl-page-nav__content {
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  .pl-page-nav__json {
    font-size: 0.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem; }
  .pl-page-nav__json-example {
    visibility: hidden;
    padding: 10px;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word; }
    .pl-page-nav__json-example > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: bolder; }
    .pl-page-nav__json-example > div > span {
      margin-top: 4px;
      padding-right: 5px; }
    .pl-page-nav__json-example > code {
      font-size: 11px; }
  .pl-page-nav__tag-name {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    font-weight: bolder; }
  .pl-page-nav__related-page {
    display: block;
    background: #F7F7F7;
    text-decoration: none;
    border-radius: 0;
    color: #404040;
    font-size: 16px;
    padding: 1rem;
    border-bottom: 1px solid #D9D9D9; }
    .pl-page-nav__related-page:hover {
      background: #D9D9D9;
      color: #404040; }
    .pl-page-nav__related-page--active {
      background: #7F7F7F;
      color: #FFFFFF; }

.pl-search__input {
  border: none;
  margin: 0;
  display: block;
  color: #FFFFFF;
  background-color: #595959;
  border-bottom: 1px solid #D9D9D9;
  padding: 1rem;
  font-size: 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .pl-search__input::-webkit-input-placeholder {
    color: #FFFFFF; }
  .pl-search__input:-moz-placeholder {
    color: #FFFFFF; }
  .pl-search__input::-moz-placeholder {
    color: #FFFFFF; }
  .pl-search__input:-ms-input-placeholder {
    color: #FFFFFF; }

.pl-search ul {
  margin: 0;
  padding: 0; }
  .pl-search ul li {
    cursor: pointer;
    list-style: none;
    display: block;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    color: #404040;
    padding: 1rem;
    font-size: 16px; }
    .pl-search ul li mark {
      background-color: #D9D9D9;
      color: #404040; }
    .pl-search ul li[aria-selected='true'], .pl-search ul li:hover {
      color: #404040;
      background-color: #D9D9D9; }

.pl-search .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  clip: rect(0 0 1px 1px); }

.pl-iframe {
  position: relative;
  width: 100%;
  margin-top: 2.5rem;
  border: 1px solid #EEEEEE;
  padding: 1rem 0.5rem; }
  .pl-iframe__tag {
    position: absolute;
    display: inline-block;
    margin: 0;
    border: 0;
    outline: 0;
    top: -20px;
    padding: 4px;
    background-color: #EEEEEE;
    color: #666666;
    font-family: monospace;
    font-size: 12px;
    line-height: 1; }
    .pl-iframe__tag--width {
      right: 2.25rem; }
    .pl-iframe__tag--code {
      right: -1px;
      cursor: pointer; }
      .pl-iframe__tag--code:not(.pl-iframe__tag--active):hover {
        background-color: #DDDDDD; }
    .pl-iframe__tag--active {
      background-color: #666666;
      color: #EEEEEE; }
  .pl-iframe__frame {
    width: 100%;
    background-color: #FFFFFF; }
  .pl-iframe__code-block {
    font-size: 14px; }
    .pl-iframe__code-block--hidden {
      display: none; }

.pl-header {
  padding: 20px 0; }
  .pl-header__title {
    font-size: 35px;
    font-weight: bold;
    font-family: "Shell-Book", arial, sans-serif; }
  .pl-header__content {
    max-width: 768px; }
  .pl-header__description {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 1.25em; }

.pl-color-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px; }
  .pl-color-blocks__item {
    padding-right: 10px;
    width: 200px;
    margin-bottom: 15px; }
  .pl-color-blocks__header {
    width: 100%;
    margin-bottom: 20px; }
  .pl-color-blocks__title {
    font-size: 20px;
    margin-bottom: 0.7em; }

.pl-color-swatch {
  padding: 5px;
  border: 1px solid #DDDDDD; }
  .pl-color-swatch__color {
    padding-top: 33%;
    border: 1px solid #DDDDDD; }
  .pl-color-swatch__label {
    display: block;
    padding: 10px 0 5px; }

.pl-description {
  padding: 20px 0; }
  .pl-description__intro-title {
    text-transform: uppercase;
    color: #666666;
    font-size: 1rem; }
  .pl-description__title {
    font-size: 25px;
    font-weight: bold;
    font-family: "Shell-Book", arial, sans-serif; }
  .pl-description__subtitle {
    font-size: 18px;
    font-weight: bold;
    font-family: "Shell-Book", arial, sans-serif;
    margin-top: 36px; }
  .pl-description__content {
    max-width: 768px; }
  .pl-description__description {
    margin: 0.7rem 0 1rem;
    font-size: 16px;
    line-height: 1.45em; }
  .pl-description__list {
    margin: 0.7rem 0 2rem; }
    .pl-description__list li {
      margin: 0.3rem 0; }
    .pl-description__list--bullets {
      list-style-type: disc;
      padding-left: 20px; }
  .pl-description code {
    display: inline-block;
    background: #F5F2F0;
    padding: 3px 6px; }
  .pl-description pre {
    background: #F5F2F0;
    padding: 16px 8px;
    margin-bottom: 2rem;
    font-family: 'Lucida Console', Monaco, monospace;
    line-height: 1.6;
    overflow: auto; }

.pl-changelog__link {
  color: #2A7A8F; }

.pl-changelog__group {
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #CCCCCC; }
  .pl-changelog__group + .pl-changelog__group {
    margin-top: 2.5rem; }

.pl-changelog__group-description {
  padding: 0.75rem 0 0.5rem;
  font-style: italic; }

.pl-changelog__changes {
  margin-bottom: 1rem; }

.pl-changelog__change {
  margin: 0.75rem 0; }

.pl-changelog__change-description {
  line-height: 1.5; }

.pl-changelog__related-bugs-label {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-left: 0.8rem;
  color: #666666; }

.pl-changelog__related-bug {
  font-size: 0.7rem;
  color: #009EB4;
  border: 1px solid #CCCCCC;
  text-decoration: none;
  padding: 0.1rem 0.3rem;
  border-radius: 2px; }
  .pl-changelog__related-bug:hover {
    border-color: #009EB4; }

.pl-changelog__integration-steps {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  border: 1px solid #CCCCCC;
  padding: 0.75rem 1rem 1rem;
  border-radius: 3px; }
  .pl-changelog__integration-steps p {
    line-height: 1.3; }

.pl-changelog__integration-steps-label {
  color: #666666;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 0.5rem; }

.pl-changelog__integration-step + .pl-changelog__integration-step {
  padding-top: 1rem; }

/* http://prismjs.com/download.html?themes=prism&languages=markup */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*='language-'],
pre[class*='language-'] {
  color: black;
  background: none;
  text-shadow: 0 1px #FFFFFF;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #B3D4FC; }

pre[class*='language-']::-moz-selection, pre[class*='language-'] ::-moz-selection, code[class*='language-']::-moz-selection, code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #B3D4FC; }

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #B3D4FC; }

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none; } }

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  overflow: auto; }

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #F5F2F0; }

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999999; }

.namespace {
  opacity: 0.7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #990055; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #669900; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #A67F59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0077AA; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #EE9900; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }


/*# sourceMappingURL=pl-main.css.map*/